<body class="p-3 m-0 border-0 bd-example">
  <div class="content">
    <div class="container">
      <h1>Project List</h1>
    </div>
  </div>
  <!-- Content Area -->
  <div *ngFor="let workspace of workspaceList">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{workspace.name}}</h5>
            <p class="card-text">{{workspace.description}}</p>
            <a class="btn" [routerLink]='[workspace.id]'>Resume Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>