.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 25px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.heading{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .container-fluid{
    overflow: hidden;
  }




