
.heading{
    margin: 0;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .container-fluid{
    overflow: hidden;
  }




