#heading{
   
    justify-content: center;
    margin-top: 20px;
}
.containter{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    

}
.card{
    display: inline-flex;
    margin-right: 10px;
}
#completedTitle, #todoTitle{
    margin-left: 50px;
}