#editing{
    margin: 20px;
}
.container {
    display: flex;
    justify-content: center;
    height:fit-content;
    padding-left:100px;
}
#formCard{
    background-color: #F5F5F5;
    box-shadow: 10 px 10px;
}
#taskDescriptionDiv{
    padding-top: 10px;
}
div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .btn{
    margin-top: 10px;
  }



