
body {
  background-color: #C3D6D2;
}
.navbar {
  background-color: #508A7B;
}
.navbar-toggler{
  background-color: #F5F5F5;
}

.btn {
  background-color: #D59065;
  color: white;
}

.card{
  background-color:#C8C8C8;
}

h1 {
  text-align: center;
}

html, body { 
  height: 100%;
}

.container {
  height: 50px;
  margin: 50px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
