<div class="container">
<div class="col-10">
    <div class="card">
        <div class="card-header">
            <h1>{{currentTask.name}}</h1>
        </div>
        <div class="card-body text-center">
        <p>{{currentTask.description}}</p>
       
       <p> {{currentTask.completed}}</p>

        <a class="btn" href="http://localhost:4200/workspace/{{currentTask.workspaceId}}/{{currentTask.id}}/edit">Edit Task</a>
        <p></p>
        <a *ngIf="currentTask.completed == false" class="btn" (click)="markAsComplete()">Complete Task</a>
        </div>
    </div>
    </div>
</div>